*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#fff5f8;
overflow-x:hidden;
}

.welcome-screen{
height:100vh;
background:linear-gradient(135deg,#ff9ecf,#ffffff);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.overlay h1{
font-size:55px;
color:#ff4fa0;
}

.overlay h2{
color:#fff;
margin-bottom:15px;
}

.overlay p{
margin:15px;
font-size:18px;
}

.overlay button{
padding:15px 40px;
border:none;
border-radius:40px;
background:#ff4fa0;
color:white;
font-size:18px;
cursor:pointer;
}

.main-content{
display:none;
padding:30px;
}

.hero{
text-align:center;
padding:50px 20px;
}

.hero h1{
font-size:50px;
color:#ff4fa0;
}

.countdown{
text-align:center;
padding:40px;
}

#timer{
font-size:30px;
font-weight:bold;
color:#ff4fa0;
}

.details{
text-align:center;
padding:40px;
}

.details a{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#ff4fa0;
color:white;
text-decoration:none;
border-radius:30px;
}

.gallery{
text-align:center;
padding:50px 20px;
}

.gallery img{
width:90%;
max-width:500px;
margin:15px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,.15);
}

.contact{
text-align:center;
padding:50px;
}

.contact a{
padding:15px 30px;
background:#ff4fa0;
color:white;
text-decoration:none;
border-radius:30px;
}